li {
    display: flex;
    display: inline;
    /* display:block; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* justify-content: right; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: stretch; */
    /* flex-direction: row; */
}

header {
    justify-items: center;
    margin: auto;
}

